<div class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel"
     id="modal-{{ possibility.objectHash }}"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            {#{{ possibility.board.render|raw }}#}
            {% include '@App/Game/possibility-table.html.twig' %}
        </div>
    </div>
</div>
