{% extends '@App/layout/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/js/treant-js-master/Treant.css') }}">
{% endblock %}

{% block content %}
    <div>
        <button class="btn btn-danger" id="show-invalid-btn">Zobraz neplatné možnosti</button>
    </div>
    <div>
        {% include '@App/Game/possibility.html.twig' %}
    </div>
{% endblock %}

{% block page_level_javascripts %}
    <script>
        $('#show-invalid-btn').click(function(){
            $('.possibility.invalid').toggleClass('hidden');
        });
    </script>
{% endblock %}