<!DOCTYPE html>
<html>
<head>
    {% block metatags %}
        <meta charset="UTF-8" />
        <title>{% block title %}Scrabble{% endblock %}</title>
        <meta name="author" content="ATENA - PERSONAL CONSULTING s.r.o." />
        <meta name="copyright" content="ATENA - PERSONAL CONSULTING s.r.o." />
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style.css') }}">
    {% endblock %}
</head>
<body>
{% spaceless %}
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
        {% block global_plugin_javascripts %}
        {% javascripts '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% endblock %}
        {% block page_level_javascripts %}{% endblock %}
    {% endblock %}
{% endspaceless %}
</body>
</html>